[package]
name = "aarch64_base_project_rs"
version = "0.1.0"
edition = "2024"

[dependencies]
qemu-exit = "3.0.2"

[[bin]]
name = "kernel"
path = "src/main.rs"
test = false
doctest = false
bench = false

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
